@import "tailwindcss";

@theme {
  --color-primary: var(--bg-primary-color);
  --color-accent: var(--font-secondary);
  --color-description: var(--color-description-var);
}

:root {
  --bg-primary-color: hsl(0, 0%, 100%);
  --font-secondary: #1dc275;
  --color-description-var: #0b9052;
  --font-primary: #404040;
}

.dark {
  --bg-primary-color: hsl(0, 0%, 12%);
  --font-primary: #eaeaea;
}

.orange { --font-secondary: #ff7338; --color-description: #c43e07; }
.yellow { --font-secondary: #eab515; --color-description: #9b7e00; }
.blue   { --font-secondary: #13c5fd; --color-description: #0082aa; }
.red    { --font-secondary: #f31313; --color-description: #aa0707; }
.purple { --font-secondary: #493ee5; --color-description: #493ee5; }
.green  { --font-secondary: #1dc275; --color-description: #0b9052; }
.pink   { --font-secondary: #ff99cc; --color-description: #ab0d63; }

@layer base {
  body {
    @apply bg-primary text-[var(--font-primary)] transition-all duration-300 ease-in-out;
    font-family: 'Inter', sans-serif;
  }
}