@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;

  --color-primary: var(--color-primary);
  --color-primary-lighter: var(--color-primary-lighter);
  --color-accent: var(--font-secondary);
  --color-description: var(--color-description);
  --color-font-third: var(--font-third);
}

:root {
  --h: 0;
  --s: 0%;
  --l: 100%; 
  
  --color-primary: hsl(var(--h), var(--s), var(--l));
  --color-primary-lighter: hsl(var(--h), var(--s), calc(var(--l) - 10%));
  
  --font-primary: #404040;
  --font-secondary: #1dc275; 
  --color-description: #0b9052;
  --font-third: #727272;
  
  --top-padding: 50px;
}

.dark {
  --l: 12%; 
  --color-primary: hsl(var(--h), var(--s), var(--l));
  --color-primary-lighter: hsl(var(--h), var(--s), calc(var(--l) + 7%));
  --font-primary: #eaeaea;
}

.orange { --font-secondary: #ff7338; --color-description: #c43e07; }
.yellow { --font-secondary: #eab515; --color-description: #9b7e00; }
.blue   { --font-secondary: #13c5fd; --color-description: #0082aa; }
.red    { --font-secondary: #f31313; --color-description: #aa0707; }
.purple { --font-secondary: #493ee5; --color-description: #493ee5; }
.green  { --font-secondary: #1dc275; --color-description: #0b9052; }
.pink   { --font-secondary: #ff99cc; --color-description: #ab0d63; }

@layer base {
  html {
    font-size: 68%; /* 1rem = 10px */
    scroll-behavior: smooth;
  }

  body {
    @apply bg-primary text-[var(--font-primary)] transition-all duration-300;
    font-family: var(--font-sans);
    margin: 0;
    min-height: 100vh;

    font-size: 1.6rem;
  }
}